* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #bda8d1;
    color: #634979;

}

h1 {
    font-size: 400%;

    
    margin: 3%;
}

a {
    font-size: 150%;
    text-decoration: none;
    color: #634979;
}
p{
    font-size: 200%;
    margin-bottom: 3%;
}